USE [master]
GO
/****** Object:  Database [uar]    Script Date: 10/17/2025 11:57:33 AM ******/
CREATE DATABASE [uar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'uar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\uar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'uar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\uar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [uar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [uar]
GO
/****** Object:  User [uar]    Script Date: 10/17/2025 11:57:34 AM ******/
CREATE USER [uar] FOR LOGIN [uar] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [uar]
GO
/****** Object:  Schema [uar]    Script Date: 10/17/2025 11:57:34 AM ******/
CREATE SCHEMA [uar]
GO
/****** Object:  UserDefinedFunction [uar].[enum2str$access_requests$status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[enum2str$access_requests$status] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'pending_superior'
            WHEN 2 THEN 'pending_help_desk'
            WHEN 3 THEN 'pending_technical'
            WHEN 4 THEN 'pending_process_owner'
            WHEN 5 THEN 'pending_admin'
            WHEN 6 THEN 'approved'
            WHEN 7 THEN 'rejected'
            WHEN 8 THEN 'pending_testing'
            WHEN 9 THEN 'pending_testing_setup'
            WHEN 10 THEN 'pending_testing_review'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[enum2str$access_requests$testing_status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[enum2str$access_requests$testing_status] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'not_required'
            WHEN 2 THEN 'pending'
            WHEN 3 THEN 'success'
            WHEN 4 THEN 'failed'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[enum2str$approval_history$action]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[enum2str$approval_history$action] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'approved'
            WHEN 2 THEN 'rejected'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[enum2str$approval_history$testing_status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[enum2str$approval_history$testing_status] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'not_required'
            WHEN 2 THEN 'success'
            WHEN 3 THEN 'failed'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[enum2str$employees$role]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[enum2str$employees$role] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'requestor'
            WHEN 2 THEN 'superior'
            WHEN 3 THEN 'technical_support'
            WHEN 4 THEN 'process_owner'
            WHEN 5 THEN 'admin'
            WHEN 6 THEN 'help_desk'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[enum2str$requests$status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[enum2str$requests$status] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'pending'
            WHEN 2 THEN 'approved'
            WHEN 3 THEN 'rejected'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[enum2str$test_history$test_status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[enum2str$test_history$test_status] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'pending'
            WHEN 2 THEN 'success'
            WHEN 3 THEN 'failed'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[enum2str$users$role]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[enum2str$users$role] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'admin'
            WHEN 2 THEN 'technical_support'
            WHEN 3 THEN 'process_owner'
            WHEN 4 THEN 'superior'
            WHEN 5 THEN 'requestor'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[norm_enum$access_requests$status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[norm_enum$access_requests$status] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN uar.enum2str$access_requests$status(uar.str2enum$access_requests$status(@setval))
   END
GO
/****** Object:  UserDefinedFunction [uar].[norm_enum$access_requests$testing_status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[norm_enum$access_requests$testing_status] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN uar.enum2str$access_requests$testing_status(uar.str2enum$access_requests$testing_status(@setval))
   END
GO
/****** Object:  UserDefinedFunction [uar].[norm_enum$approval_history$action]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[norm_enum$approval_history$action] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN uar.enum2str$approval_history$action(uar.str2enum$approval_history$action(@setval))
   END
GO
/****** Object:  UserDefinedFunction [uar].[norm_enum$approval_history$testing_status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[norm_enum$approval_history$testing_status] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN uar.enum2str$approval_history$testing_status(uar.str2enum$approval_history$testing_status(@setval))
   END
GO
/****** Object:  UserDefinedFunction [uar].[norm_enum$employees$role]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[norm_enum$employees$role] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN uar.enum2str$employees$role(uar.str2enum$employees$role(@setval))
   END
GO
/****** Object:  UserDefinedFunction [uar].[norm_enum$requests$status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[norm_enum$requests$status] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN uar.enum2str$requests$status(uar.str2enum$requests$status(@setval))
   END
GO
/****** Object:  UserDefinedFunction [uar].[norm_enum$test_history$test_status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[norm_enum$test_history$test_status] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN uar.enum2str$test_history$test_status(uar.str2enum$test_history$test_status(@setval))
   END
GO
/****** Object:  UserDefinedFunction [uar].[norm_enum$users$role]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[norm_enum$users$role] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN uar.enum2str$users$role(uar.str2enum$users$role(@setval))
   END
GO
/****** Object:  UserDefinedFunction [uar].[str2enum$access_requests$status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[str2enum$access_requests$status] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'pending_superior' THEN 1
            WHEN 'pending_help_desk' THEN 2
            WHEN 'pending_technical' THEN 3
            WHEN 'pending_process_owner' THEN 4
            WHEN 'pending_admin' THEN 5
            WHEN 'approved' THEN 6
            WHEN 'rejected' THEN 7
            WHEN 'pending_testing' THEN 8
            WHEN 'pending_testing_setup' THEN 9
            WHEN 'pending_testing_review' THEN 10
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[str2enum$access_requests$testing_status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[str2enum$access_requests$testing_status] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'not_required' THEN 1
            WHEN 'pending' THEN 2
            WHEN 'success' THEN 3
            WHEN 'failed' THEN 4
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[str2enum$approval_history$action]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[str2enum$approval_history$action] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'approved' THEN 1
            WHEN 'rejected' THEN 2
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[str2enum$approval_history$testing_status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[str2enum$approval_history$testing_status] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'not_required' THEN 1
            WHEN 'success' THEN 2
            WHEN 'failed' THEN 3
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[str2enum$employees$role]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[str2enum$employees$role] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'requestor' THEN 1
            WHEN 'superior' THEN 2
            WHEN 'technical_support' THEN 3
            WHEN 'process_owner' THEN 4
            WHEN 'admin' THEN 5
            WHEN 'help_desk' THEN 6
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[str2enum$requests$status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[str2enum$requests$status] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'pending' THEN 1
            WHEN 'approved' THEN 2
            WHEN 'rejected' THEN 3
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[str2enum$test_history$test_status]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[str2enum$test_history$test_status] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'pending' THEN 1
            WHEN 'success' THEN 2
            WHEN 'failed' THEN 3
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [uar].[str2enum$users$role]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [uar].[str2enum$users$role] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'admin' THEN 1
            WHEN 'technical_support' THEN 2
            WHEN 'process_owner' THEN 3
            WHEN 'superior' THEN 4
            WHEN 'requestor' THEN 5
            ELSE 0
         END
   END
GO
/****** Object:  Table [uar].[access_requests]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[access_requests](
	[id] [int] IDENTITY(110,1) NOT NULL,
	[requestor_name] [nvarchar](255) NOT NULL,
	[business_unit] [nvarchar](50) NOT NULL,
	[access_request_number] [nvarchar](20) NOT NULL,
	[department] [nvarchar](100) NOT NULL,
	[employee_email] [nvarchar](255) NOT NULL,
	[employee_id] [nvarchar](20) NOT NULL,
	[request_date] [date] NOT NULL,
	[system_type] [nvarchar](255) NULL,
	[other_system_type] [nvarchar](255) NULL,
	[access_level] [nvarchar](20) NULL,
	[status] [nvarchar](22) NOT NULL,
	[testing_status] [nvarchar](12) NULL,
	[current_test_iteration] [int] NULL,
	[test_evidence_required] [smallint] NULL,
	[testing_notes] [nvarchar](max) NULL,
	[testing_instructions] [nvarchar](max) NULL,
	[submission_date] [datetime2](0) NOT NULL,
	[superior_id] [int] NULL,
	[superior_review_date] [datetime2](0) NULL,
	[superior_notes] [nvarchar](max) NULL,
	[help_desk_id] [int] NULL,
	[help_desk_review_date] [datetime2](0) NULL,
	[help_desk_notes] [nvarchar](max) NULL,
	[technical_id] [int] NULL,
	[technical_review_date] [datetime2](0) NULL,
	[technical_notes] [nvarchar](max) NULL,
	[process_owner_id] [int] NULL,
	[process_owner_review_date] [datetime2](0) NULL,
	[process_owner_notes] [nvarchar](max) NULL,
	[admin_id] [int] NULL,
	[admin_review_date] [datetime2](0) NULL,
	[admin_notes] [nvarchar](max) NULL,
	[reviewed_by] [int] NULL,
	[review_date] [datetime2](0) NULL,
	[review_notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_access_requests_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [uar].[admin_users]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[admin_users](
	[id] [int] IDENTITY(19,1) NOT NULL,
	[role] [nvarchar](255) NULL,
	[employee_name] [nvarchar](255) NULL,
	[employee_id] [int] NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[encryption_code] [nvarchar](255) NULL,
 CONSTRAINT [PK_admin_users_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [admin_users$username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [uar].[admin_verification_codes]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[admin_verification_codes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_admin_verification_codes_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [admin_verification_codes$admin_id] UNIQUE NONCLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [uar].[approval_history]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[approval_history](
	[history_id] [int] IDENTITY(39,1) NOT NULL,
	[request_id] [int] NULL,
	[access_request_number] [nvarchar](20) NOT NULL,
	[action] [nvarchar](8) NOT NULL,
	[requestor_name] [nvarchar](255) NOT NULL,
	[business_unit] [nvarchar](50) NOT NULL,
	[department] [nvarchar](100) NOT NULL,
	[access_type] [nvarchar](50) NOT NULL,
	[admin_id] [int] NULL,
	[comments] [nvarchar](max) NULL,
	[system_type] [nvarchar](255) NULL,
	[duration_type] [nvarchar](20) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[justification] [nvarchar](max) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[employee_id] [nvarchar](20) NULL,
	[contact_number] [nvarchar](20) NOT NULL,
	[testing_status] [nvarchar](12) NULL,
	[superior_id] [int] NULL,
	[superior_notes] [nvarchar](max) NULL,
	[help_desk_id] [int] NULL,
	[help_desk_notes] [nvarchar](max) NULL,
	[technical_id] [int] NULL,
	[technical_notes] [nvarchar](max) NULL,
	[process_owner_id] [int] NULL,
	[process_owner_notes] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_approval_history_history_id] PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [uar].[cancelled_requests]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[cancelled_requests](
	[id] [int] IDENTITY(4,1) NOT NULL,
	[access_request_number] [nvarchar](20) NOT NULL,
	[requestor_name] [nvarchar](255) NOT NULL,
	[business_unit] [nvarchar](50) NOT NULL,
	[department] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[employee_id] [nvarchar](20) NOT NULL,
	[access_type] [nvarchar](50) NOT NULL,
	[system_type] [nvarchar](255) NULL,
	[other_system_type] [nvarchar](255) NULL,
	[justification] [nvarchar](max) NOT NULL,
	[duration_type] [nvarchar](20) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[cancellation_reason] [nvarchar](max) NOT NULL,
	[cancelled_at] [datetime] NOT NULL,
 CONSTRAINT [PK_cancelled_requests_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [uar].[employees]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[employees](
	[employee_id] [nvarchar](20) NOT NULL,
	[company] [nvarchar](10) NOT NULL,
	[employee_name] [nvarchar](255) NOT NULL,
	[department] [nvarchar](255) NOT NULL,
	[employee_email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NULL,
	[is_temp_password] [smallint] NOT NULL,
	[role] [nvarchar](17) NULL,
 CONSTRAINT [PK_employees_employee_id] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [uar].[employees_archive]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[employees_archive](
	[archive_id] [int] IDENTITY(33,1) NOT NULL,
	[employee_id] [nvarchar](20) NOT NULL,
	[company] [nvarchar](10) NOT NULL,
	[employee_name] [nvarchar](255) NOT NULL,
	[department] [nvarchar](255) NOT NULL,
	[employee_email] [nvarchar](255) NOT NULL,
	[archived_at] [datetime] NOT NULL,
	[archived_by] [int] NULL,
	[archive_reason] [nvarchar](max) NULL,
 CONSTRAINT [PK_employees_archive_archive_id] PRIMARY KEY CLUSTERED 
(
	[archive_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [uar].[group_requests]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[group_requests](
	[id] [int] IDENTITY(15,1) NOT NULL,
	[access_request_number] [nvarchar](20) NOT NULL,
	[username] [nvarchar](255) NULL,
	[application_system] [nvarchar](255) NULL,
	[access_type] [nvarchar](50) NULL,
	[access_duration] [nvarchar](20) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[date_needed] [date] NULL,
	[justification] [nvarchar](max) NULL,
 CONSTRAINT [PK_group_requests_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [uar].[individual_requests]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[individual_requests](
	[id] [int] IDENTITY(44,1) NOT NULL,
	[access_request_number] [nvarchar](20) NOT NULL,
	[username] [nvarchar](255) NULL,
	[application_system] [nvarchar](255) NULL,
	[access_type] [nvarchar](50) NULL,
	[access_duration] [nvarchar](20) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[date_needed] [date] NULL,
	[justification] [nvarchar](max) NULL,
 CONSTRAINT [PK_individual_requests_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [uar].[password_resets]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[password_resets](
	[id] [int] IDENTITY(12,1) NOT NULL,
	[employee_email] [nvarchar](255) NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[expires_at] [datetime2](0) NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_password_resets_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [password_resets$token] UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [uar].[reports]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[reports](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NULL,
	[report_type] [nvarchar](50) NOT NULL,
	[content] [nvarchar](max) NULL,
	[file_path] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_reports_report_id] PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [uar].[requests]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[requests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](8) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_requests_request_id] PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [uar].[test_evidence]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[test_evidence](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_history_id] [int] NOT NULL,
	[file_path] [nvarchar](255) NOT NULL,
	[uploaded_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_test_evidence_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [uar].[test_history]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[test_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[iteration] [int] NOT NULL,
	[test_status] [nvarchar](7) NOT NULL,
	[test_instructions] [nvarchar](max) NULL,
	[test_credentials] [nvarchar](max) NULL,
	[requestor_feedback] [nvarchar](max) NULL,
	[technical_notes] [nvarchar](max) NULL,
	[test_evidence_path] [nvarchar](255) NULL,
	[started_at] [datetime2](0) NULL,
	[completed_at] [datetime2](0) NULL,
	[created_by] [int] NULL,
 CONSTRAINT [PK_test_history_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [uar].[user_encryption_codes]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[user_encryption_codes](
	[id] [int] IDENTITY(6,1) NOT NULL,
	[user_id] [nvarchar](50) NOT NULL,
	[encryption_code] [nvarchar](6) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_user_encryption_codes_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [user_encryption_codes$user_id] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [uar].[users]    Script Date: 10/17/2025 11:57:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [uar].[users](
	[id] [int] IDENTITY(6,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](17) NOT NULL,
	[employee_id] [nvarchar](20) NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_users_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [users$email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [users$username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [system_type]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [other_system_type]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [access_level]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (N'pending_superior') FOR [status]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (N'not_required') FOR [testing_status]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT ((1)) FOR [current_test_iteration]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT ((0)) FOR [test_evidence_required]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [testing_notes]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [testing_instructions]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [superior_id]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [superior_review_date]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [superior_notes]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [help_desk_id]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [help_desk_review_date]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [help_desk_notes]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [technical_id]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [technical_review_date]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [technical_notes]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [process_owner_id]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [process_owner_review_date]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [process_owner_notes]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [admin_id]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [admin_review_date]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [admin_notes]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [reviewed_by]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [review_date]
GO
ALTER TABLE [uar].[access_requests] ADD  DEFAULT (NULL) FOR [review_notes]
GO
ALTER TABLE [uar].[admin_users] ADD  DEFAULT (NULL) FOR [role]
GO
ALTER TABLE [uar].[admin_users] ADD  DEFAULT (NULL) FOR [employee_name]
GO
ALTER TABLE [uar].[admin_users] ADD  DEFAULT (NULL) FOR [employee_id]
GO
ALTER TABLE [uar].[admin_users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [uar].[admin_users] ADD  DEFAULT (NULL) FOR [encryption_code]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [request_id]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [admin_id]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [comments]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [system_type]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [duration_type]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [start_date]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [end_date]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [employee_id]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (N'not_required') FOR [testing_status]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [superior_id]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [superior_notes]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [help_desk_id]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [help_desk_notes]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [technical_id]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [technical_notes]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [process_owner_id]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (NULL) FOR [process_owner_notes]
GO
ALTER TABLE [uar].[approval_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [uar].[cancelled_requests] ADD  DEFAULT (NULL) FOR [system_type]
GO
ALTER TABLE [uar].[cancelled_requests] ADD  DEFAULT (NULL) FOR [other_system_type]
GO
ALTER TABLE [uar].[cancelled_requests] ADD  DEFAULT (NULL) FOR [duration_type]
GO
ALTER TABLE [uar].[cancelled_requests] ADD  DEFAULT (NULL) FOR [start_date]
GO
ALTER TABLE [uar].[cancelled_requests] ADD  DEFAULT (NULL) FOR [end_date]
GO
ALTER TABLE [uar].[cancelled_requests] ADD  DEFAULT (getdate()) FOR [cancelled_at]
GO
ALTER TABLE [uar].[employees] ADD  DEFAULT (NULL) FOR [password]
GO
ALTER TABLE [uar].[employees] ADD  DEFAULT ((1)) FOR [is_temp_password]
GO
ALTER TABLE [uar].[employees] ADD  DEFAULT (NULL) FOR [role]
GO
ALTER TABLE [uar].[employees_archive] ADD  DEFAULT (getdate()) FOR [archived_at]
GO
ALTER TABLE [uar].[employees_archive] ADD  DEFAULT (NULL) FOR [archived_by]
GO
ALTER TABLE [uar].[employees_archive] ADD  DEFAULT (NULL) FOR [archive_reason]
GO
ALTER TABLE [uar].[group_requests] ADD  DEFAULT (NULL) FOR [username]
GO
ALTER TABLE [uar].[group_requests] ADD  DEFAULT (NULL) FOR [application_system]
GO
ALTER TABLE [uar].[group_requests] ADD  DEFAULT (NULL) FOR [access_type]
GO
ALTER TABLE [uar].[group_requests] ADD  DEFAULT (NULL) FOR [access_duration]
GO
ALTER TABLE [uar].[group_requests] ADD  DEFAULT (NULL) FOR [start_date]
GO
ALTER TABLE [uar].[group_requests] ADD  DEFAULT (NULL) FOR [end_date]
GO
ALTER TABLE [uar].[group_requests] ADD  DEFAULT (NULL) FOR [date_needed]
GO
ALTER TABLE [uar].[group_requests] ADD  DEFAULT (NULL) FOR [justification]
GO
ALTER TABLE [uar].[individual_requests] ADD  DEFAULT (NULL) FOR [username]
GO
ALTER TABLE [uar].[individual_requests] ADD  DEFAULT (NULL) FOR [application_system]
GO
ALTER TABLE [uar].[individual_requests] ADD  DEFAULT (NULL) FOR [access_type]
GO
ALTER TABLE [uar].[individual_requests] ADD  DEFAULT (NULL) FOR [access_duration]
GO
ALTER TABLE [uar].[individual_requests] ADD  DEFAULT (NULL) FOR [start_date]
GO
ALTER TABLE [uar].[individual_requests] ADD  DEFAULT (NULL) FOR [end_date]
GO
ALTER TABLE [uar].[individual_requests] ADD  DEFAULT (NULL) FOR [date_needed]
GO
ALTER TABLE [uar].[individual_requests] ADD  DEFAULT (NULL) FOR [justification]
GO
ALTER TABLE [uar].[password_resets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [uar].[reports] ADD  DEFAULT (NULL) FOR [request_id]
GO
ALTER TABLE [uar].[reports] ADD  DEFAULT (NULL) FOR [content]
GO
ALTER TABLE [uar].[reports] ADD  DEFAULT (NULL) FOR [file_path]
GO
ALTER TABLE [uar].[reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [uar].[reports] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [uar].[requests] ADD  DEFAULT (NULL) FOR [user_id]
GO
ALTER TABLE [uar].[requests] ADD  DEFAULT (NULL) FOR [description]
GO
ALTER TABLE [uar].[requests] ADD  DEFAULT (N'pending') FOR [status]
GO
ALTER TABLE [uar].[requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [uar].[requests] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [uar].[test_history] ADD  DEFAULT (NULL) FOR [test_instructions]
GO
ALTER TABLE [uar].[test_history] ADD  DEFAULT (NULL) FOR [test_credentials]
GO
ALTER TABLE [uar].[test_history] ADD  DEFAULT (NULL) FOR [requestor_feedback]
GO
ALTER TABLE [uar].[test_history] ADD  DEFAULT (NULL) FOR [technical_notes]
GO
ALTER TABLE [uar].[test_history] ADD  DEFAULT (NULL) FOR [test_evidence_path]
GO
ALTER TABLE [uar].[test_history] ADD  DEFAULT (NULL) FOR [started_at]
GO
ALTER TABLE [uar].[test_history] ADD  DEFAULT (NULL) FOR [completed_at]
GO
ALTER TABLE [uar].[test_history] ADD  DEFAULT (NULL) FOR [created_by]
GO
ALTER TABLE [uar].[users] ADD  DEFAULT (N'requestor') FOR [role]
GO
ALTER TABLE [uar].[users] ADD  DEFAULT (NULL) FOR [employee_id]
GO
ALTER TABLE [uar].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [uar].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [uar].[approval_history]  WITH NOCHECK ADD  CONSTRAINT [approval_history$approval_history_ibfk_2] FOREIGN KEY([admin_id])
REFERENCES [uar].[admin_users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [uar].[approval_history] CHECK CONSTRAINT [approval_history$approval_history_ibfk_2]
GO
ALTER TABLE [uar].[employees_archive]  WITH NOCHECK ADD  CONSTRAINT [employees_archive$employees_archive_ibfk_1] FOREIGN KEY([archived_by])
REFERENCES [uar].[admin_users] ([id])
GO
ALTER TABLE [uar].[employees_archive] CHECK CONSTRAINT [employees_archive$employees_archive_ibfk_1]
GO
ALTER TABLE [uar].[reports]  WITH NOCHECK ADD  CONSTRAINT [reports$reports_ibfk_1] FOREIGN KEY([request_id])
REFERENCES [uar].[requests] ([request_id])
GO
ALTER TABLE [uar].[reports] CHECK CONSTRAINT [reports$reports_ibfk_1]
GO
ALTER TABLE [uar].[requests]  WITH NOCHECK ADD  CONSTRAINT [requests$requests_ibfk_1] FOREIGN KEY([user_id])
REFERENCES [uar].[admin_users] ([id])
GO
ALTER TABLE [uar].[requests] CHECK CONSTRAINT [requests$requests_ibfk_1]
GO
ALTER TABLE [uar].[test_evidence]  WITH NOCHECK ADD  CONSTRAINT [test_evidence$test_evidence_ibfk_1] FOREIGN KEY([test_history_id])
REFERENCES [uar].[test_history] ([id])
GO
ALTER TABLE [uar].[test_evidence] CHECK CONSTRAINT [test_evidence$test_evidence_ibfk_1]
GO
ALTER TABLE [uar].[test_history]  WITH NOCHECK ADD  CONSTRAINT [test_history$test_history_ibfk_1] FOREIGN KEY([request_id])
REFERENCES [uar].[access_requests] ([id])
GO
ALTER TABLE [uar].[test_history] CHECK CONSTRAINT [test_history$test_history_ibfk_1]
GO
ALTER TABLE [uar].[users]  WITH NOCHECK ADD  CONSTRAINT [users$users_ibfk_1] FOREIGN KEY([employee_id])
REFERENCES [uar].[employees] ([employee_id])
GO
ALTER TABLE [uar].[users] CHECK CONSTRAINT [users$users_ibfk_1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.access_requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'enum2str$access_requests$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.access_requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'enum2str$access_requests$testing_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.approval_history' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'enum2str$approval_history$action'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.approval_history' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'enum2str$approval_history$testing_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.employees' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'enum2str$employees$role'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'enum2str$requests$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.test_history' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'enum2str$test_history$test_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.users' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'enum2str$users$role'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.access_requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'norm_enum$access_requests$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.access_requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'norm_enum$access_requests$testing_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.approval_history' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'norm_enum$approval_history$action'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.approval_history' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'norm_enum$approval_history$testing_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.employees' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'norm_enum$employees$role'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'norm_enum$requests$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.test_history' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'norm_enum$test_history$test_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.users' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'norm_enum$users$role'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.access_requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'str2enum$access_requests$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.access_requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'str2enum$access_requests$testing_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.approval_history' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'str2enum$approval_history$action'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.approval_history' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'str2enum$approval_history$testing_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.employees' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'str2enum$employees$role'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'str2enum$requests$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.test_history' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'str2enum$test_history$test_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.users' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'FUNCTION',@level1name=N'str2enum$users$role'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.access_requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'access_requests'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.admin_users' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'admin_users'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.admin_verification_codes' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'admin_verification_codes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.approval_history' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'approval_history'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.cancelled_requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'cancelled_requests'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.employees' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'employees'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.employees_archive' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'employees_archive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.group_requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'group_requests'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.individual_requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'individual_requests'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.password_resets' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'password_resets'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.reports' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'reports'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.requests' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'requests'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.test_evidence' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'test_evidence'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.test_history' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'test_history'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.user_encryption_codes' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'user_encryption_codes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'uar.users' , @level0type=N'SCHEMA',@level0name=N'uar', @level1type=N'TABLE',@level1name=N'users'
GO
USE [master]
GO
